hpr_enable=1
hpr_freq_listen=120
hpr_freq_mic=150
anr_enable=1
anr_intensity_listen=25
anr_intensity_mic=25
anr_noise_db_thr_listen=60
anr_noise_db_thr_mic=60
aec_enable=1
aec_cngmode=0
aec_pass_energy=1
aec_clean_energy=2
aec_DTHnlSortQTh=16384
aec_bandlow=10
aec_bandhigh=25
aec_bandlow2=28
aec_bandhigh2=35
aec_ERLBand=4,6,36,49,50,51
aec_ERL=7,10,16,10,18,18,18
aec_protect_freqL=3
aec_protect_freqL1=6
input_vol=19
mic_vol=4
output_vol=0
